<app-navbar></app-navbar>

<div class="relative flex h-screen overflow-hidden bg-white">
  <div class="flex flex-col flex-1 min-w-0 overflow-hidden">
    <div class="relative z-0 flex flex-1 overflow-hidden">
      <main
        class="relative z-0 flex-1 overflow-y-auto  focus:outline-none xl:order-last"
      >
        <article>
          <!-- Profile header -->
          <div>
            <div class="max-w-5xl px-4 mx-auto sm:px-6 lg:px-8">
              <div class="sm:flex sm:items-end sm:space-x-5">
                <div class="flex">
                  <img
                    class="w-24 h-24 rounded-full  ring-4 ring-white sm:h-32 sm:w-32"
                    src="{{
                      tmdbBannerBaseUrl + '/' + personDetail.profile_path
                    }}"
                  />
                </div>
                <div
                  class="mt-6  sm:flex-1 sm:min-w-0 sm:flex sm:items-center sm:justify-end sm:space-x-6 sm:pb-1"
                >
                  <div class="flex-1 min-w-0 mt-6 sm:hidden 2xl:block">
                    <h1 class="text-2xl font-bold text-gray-900 truncate">
                      {{ personDetail.name }}
                    </h1>
                  </div>
                </div>
              </div>
              <div class="flex-1 hidden min-w-0 mt-6 sm:block 2xl:hidden">
                <h1 class="text-2xl font-bold text-gray-900 truncate">
                  {{ personDetail.name }}
                </h1>
              </div>
            </div>
          </div>

          <!-- Tabs -->
          <div class="mt-6 sm:mt-2 2xl:mt-5">
            <div class="border-b border-gray-200">
              <div class="max-w-5xl px-4 mx-auto sm:px-6 lg:px-8">
                <nav class="flex -mb-px space-x-8" aria-label="Tabs">
                  <a
                    href="#"
                    class="px-1 py-4 text-sm font-medium text-gray-900 border-b-2 border-pink-500  whitespace-nowrap"
                    aria-current="page"
                  >
                    Detail
                  </a>
                </nav>
              </div>
            </div>
          </div>

          <!-- Description list -->
          <div class="max-w-5xl px-4 mx-auto mt-6 sm:px-6 lg:px-8">
            <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
              <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500">Birthday</dt>
                <dd class="mt-1 text-sm text-gray-900">
                  {{ personDetail.birthday }}
                </dd>
              </div>

              <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500">Gender</dt>
                <dd class="mt-1 text-sm text-gray-900">
                  {{ personDetail.gender }}
                </dd>
              </div>

              <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500">Home Page</dt>
                <dd class="mt-1 text-sm text-gray-900">
                  {{ personDetail.homepage }}
                </dd>
              </div>

              <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500">Profession</dt>
                <dd class="mt-1 text-sm text-gray-900">
                  {{ personDetail.known_for_department }}
                </dd>
              </div>

              <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500">Birth Place</dt>
                <dd class="mt-1 text-sm text-gray-900">
                  {{ personDetail.place_of_birth }}
                </dd>
              </div>

              <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500">Popularity</dt>
                <dd class="mt-1 text-sm text-gray-900">
                  {{ personDetail.popularity }}
                </dd>
              </div>
            </dl>
          </div>
        </article>
      </main>
    </div>
  </div>
</div>

<app-footer></app-footer>
