<!-- ========================= Nav bar ============================= -->

<app-navbar></app-navbar>

<!-- This example requires Tailwind CSS v2.0+ -->
<div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
  <!-- We've used 3xl here, but feel free to try other max-widths based on your needs -->
  <div class="mx-auto max-w-9xl">
    <div class="bg-white">
      <div class="max-w-2xl px-4 mx-auto sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
        <h2 class="mb-12 text-4xl text-black">Series</h2>

        <div
          class="grid grid-cols-1  gap-y-4 sm:grid-cols-2 sm:gap-x-6 sm:gap-y-10 lg:grid-cols-5 lg:gap-x-8"
        >
          <div
            class="relative flex flex-col overflow-hidden bg-white border border-gray-200 rounded-lg  group"
            *ngFor="let trendingSeriesItem of trendingSeries"
          >
            <div
              class="bg-gray-200  aspect-w-3 aspect-h-4 group-hover:opacity-75 sm:aspect-none sm:h-52"
            >
              <img
                src="{{
                  tmdbPosterBaseUrl + '/' + trendingSeriesItem.poster_path
                }}"
                alt="Eight shirts arranged on table in black, olive, grey, blue, white, red, mustard, and green."
                class="object-cover object-center w-full h-full  sm:w-full sm:h-full"
              />
            </div>
            <div class="flex flex-col flex-1 p-4 space-y-2">
              <h3 class="text-sm font-medium text-gray-900">
                <a href="#">
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  {{ trendingSeriesItem.name }}
                </a>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
