<!-- This example requires Tailwind CSS v2.0+ -->
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
  <!-- We've used 3xl here, but feel free to try other max-widths based on your needs -->
  <div class="max-w-9xl mx-auto">
    <div class="bg-white">
      <div class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
        <h2 class="text-black text-4xl mb-12">Movies</h2>
    
        <div class="grid grid-cols-1 gap-y-4 sm:grid-cols-2 sm:gap-x-6 sm:gap-y-10 lg:grid-cols-5 lg:gap-x-8">
          <div class="group relative bg-white border border-gray-200 rounded-lg flex flex-col overflow-hidden"  
          *ngFor="let trendingMovieItem of trendingMovies">
            <div class="aspect-w-3 aspect-h-4 bg-gray-200 group-hover:opacity-75 sm:aspect-none sm:h-96">
              <img src="{{tmdbPosterBaseUrl+'/'+trendingMovieItem.poster_path}}" alt="Eight shirts arranged on table in black, olive, grey, blue, white, red, mustard, and green." class="w-full h-full object-center object-cover sm:w-full sm:h-full">
            </div>
            <div class="flex-1 p-4 space-y-2 flex flex-col">
              <h3 class="text-sm font-medium text-gray-900">
                <a href="#">
                  <span aria-hidden="true" class="absolute inset-0"></span>
                {{trendingMovieItem.title}}
                </a>
              </h3>
              <p class="text-sm text-gray-500">Get the full lineup of our Basic Tees. Have a fresh shirt all week, and an extra for laundry day.</p>
              <div class="flex-1 flex flex-col justify-end">
                <p class="text-sm italic text-gray-500">8 colors</p>
                <p class="text-base font-medium text-gray-900">$256</p>
              </div>
            </div>
          </div>

    
        </div>
      </div>

      <!-- =========================================== -->
      <div class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
        <h2 class="text-black text-4xl mb-12">Series</h2>
    
        <div class="grid grid-cols-1 gap-y-4 sm:grid-cols-2 sm:gap-x-6 sm:gap-y-10 lg:grid-cols-5 lg:gap-x-8">
          <div class="group relative bg-white border border-gray-200 rounded-lg flex flex-col overflow-hidden"  
          *ngFor="let trendingSeriesItem of trendingSeries">
            <div class="aspect-w-3 aspect-h-4 bg-gray-200 group-hover:opacity-75 sm:aspect-none sm:h-96">
              <img src="{{tmdbPosterBaseUrl+'/'+trendingSeriesItem.poster_path}}" alt="Eight shirts arranged on table in black, olive, grey, blue, white, red, mustard, and green." class="w-full h-full object-center object-cover sm:w-full sm:h-full">
            </div>
            <div class="flex-1 p-4 space-y-2 flex flex-col">
              <h3 class="text-sm font-medium text-gray-900">
                <a href="#">
                  <span aria-hidden="true" class="absolute inset-0"></span>
                {{trendingSeriesItem.name}}
                </a>
              </h3>
              <p class="text-sm text-gray-500">Get the full lineup of our Basic Tees. Have a fresh shirt all week, and an extra for laundry day.</p>
              <div class="flex-1 flex flex-col justify-end">
                <p class="text-sm italic text-gray-500">8 colors</p>
                <p class="text-base font-medium text-gray-900">$256</p>
              </div>
            </div>
          </div>

    
        </div>
      </div>
      <!-- =========================================== -->
      <div class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
        <h2 class="text-black text-4xl mb-12">People</h2>
    
        <div class="grid grid-cols-1 gap-y-4 sm:grid-cols-2 sm:gap-x-6 sm:gap-y-10 lg:grid-cols-5 lg:gap-x-8">
          <div class="group relative bg-white border border-gray-200 rounded-lg flex flex-col overflow-hidden"  
          *ngFor="let trendingPeopleItem of trendingPeopls">
            <div class="aspect-w-3 aspect-h-4 bg-gray-200 group-hover:opacity-75 sm:aspect-none sm:h-96">
              <img src="{{tmdbPosterBaseUrl+'/'+trendingPeopleItem.profile_path}}" alt="Eight shirts arranged on table in black, olive, grey, blue, white, red, mustard, and green." class="w-full h-full object-center object-cover sm:w-full sm:h-full">
            </div>
            <div class="flex-1 p-4 space-y-2 flex flex-col">
              <h3 class="text-sm font-medium text-gray-900">
                <a href="#">
                  <span aria-hidden="true" class="absolute inset-0"></span>
                {{trendingPeopleItem.name}}
                </a>
              </h3>
              <p class="text-sm text-gray-500">Get the full lineup of our Basic Tees. Have a fresh shirt all week, and an extra for laundry day.</p>
              <div class="flex-1 flex flex-col justify-end">
                <p class="text-sm italic text-gray-500">8 colors</p>
                <p class="text-base font-medium text-gray-900">$256</p>
              </div>
            </div>
          </div>

    
        </div>
      </div>
    </div>
  </div>
</div>
