<!-- ========================= Nav bar ============================= -->

<app-navbar></app-navbar>

<div class="flex items-center justify-end w-4/5 mx-auto mt-4">
  <p class="pr-2 bold">Type:</p>
  <label class="pr-2" for="week">Week</label>
  <input
    class="mr-3"
    type="radio"
    name="type"
    value="week"
    checked
    (change)="chooseDayOrWeek('week')"
    id=""
  />
  <label class="pr-2" for="day">Day</label>
  <input
    type="radio"
    name="type"
    id=""
    value="day"
    (change)="chooseDayOrWeek('day')"
  />
</div>

<!-- This example requires Tailwind CSS v2.0+ -->
<div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
  <!-- We've used 3xl here, but feel free to try other max-widths based on your needs -->
  <div class="mx-auto max-w-9xl">
    <div class="bg-white">
      <div class="max-w-2xl px-4 mx-auto sm:px-6 lg:max-w-7xl lg:px-8">
        <h2 class="mb-12 text-4xl text-black">
          <a routerLink="/movie">Movies</a>
        </h2>

        <div
          class="grid grid-cols-1  gap-y-4 sm:grid-cols-2 sm:gap-x-6 sm:gap-y-10 lg:grid-cols-5 lg:gap-x-8"
        >
          <a
            class="relative flex flex-col overflow-hidden bg-white border border-gray-200 rounded-lg  group"
            *ngFor="let trendingMovieItem of trendingMovies"
            [routerLink]="['movie', trendingMovieItem.id]"
          >
            <div
              class="bg-gray-200  aspect-w-3 aspect-h-4 group-hover:opacity-75 sm:aspect-none sm:h-52"
            >
              <img
                src="{{
                  tmdbPosterBaseUrl + '/' + trendingMovieItem.poster_path
                }}"
                alt="Eight shirts arranged on table in black, olive, grey, blue, white, red, mustard, and green."
                class="object-cover object-center w-full h-full  sm:w-full sm:h-full"
              />
            </div>
            <div class="flex flex-col flex-1 p-4">
              <h3 class="text-sm font-medium text-gray-900">
                <a href="#">
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  {{ trendingMovieItem.title | truncate: 20 }}
                </a>
              </h3>
            </div>
          </a>
        </div>

        <div class="flex justify-end mt-2 text-blue-500">
          <a routerLink="/movie">More items..</a>
        </div>
      </div>

      <!-- =========================================== -->
      <div class="max-w-2xl px-4 mx-auto sm:px-6 lg:max-w-7xl lg:px-8">
        <h2 class="mt-4 mb-12 text-4xl text-black">
          <a routerLink="/series">Series</a>
        </h2>

        <div
          class="grid grid-cols-1  gap-y-4 sm:grid-cols-2 sm:gap-x-6 sm:gap-y-10 lg:grid-cols-5 lg:gap-x-8"
        >
          <a
            class="relative flex flex-col overflow-hidden bg-white border border-gray-200 rounded-lg  group"
            *ngFor="let trendingSeriesItem of trendingSeries"
            [routerLink]="['series', trendingSeriesItem.id]"
          >
            <div
              class="bg-gray-200  aspect-w-3 aspect-h-4 group-hover:opacity-75 sm:aspect-none sm:h-52"
            >
              <img
                src="{{
                  tmdbPosterBaseUrl + '/' + trendingSeriesItem.poster_path
                }}"
                alt="Eight shirts arranged on table in black, olive, grey, blue, white, red, mustard, and green."
                class="object-cover object-center w-full h-full  sm:w-full sm:h-full"
              />
            </div>
            <div class="flex flex-col flex-1 p-4 space-y-2">
              <h3 class="text-sm font-medium text-gray-900">
                <a href="#">
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  {{ trendingSeriesItem.name | truncate: 20 }}
                </a>
              </h3>
            </div>
          </a>
        </div>

        <div class="flex justify-end mt-2 text-blue-500">
          <a routerLink="/series">More items..</a>
        </div>
      </div>
      <!-- =========================================== -->
      <div class="max-w-2xl px-4 mx-auto sm:px-6 lg:max-w-7xl lg:px-8">
        <h2 class="mt-4 mb-12 text-4xl text-black">
          <a routerLink="/people">Peoples</a>
        </h2>

        <div
          class="grid grid-cols-1  gap-y-4 sm:grid-cols-2 sm:gap-x-6 sm:gap-y-10 lg:grid-cols-5 lg:gap-x-8"
        >
          <a
            class="relative flex flex-col overflow-hidden bg-white border border-gray-200 rounded-lg  group"
            *ngFor="let trendingPeopleItem of trendingPeopls"
            [routerLink]="['people', trendingPeopleItem.id]"
          >
            <div
              class="bg-gray-200  aspect-w-3 aspect-h-4 group-hover:opacity-75 sm:aspect-none sm:h-52"
            >
              <img
                src="{{
                  tmdbPosterBaseUrl + '/' + trendingPeopleItem.profile_path
                }}"
                alt="Eight shirts arranged on table in black, olive, grey, blue, white, red, mustard, and green."
                class="object-cover object-center w-full h-full  sm:w-full sm:h-full"
              />
            </div>
            <div class="flex flex-col flex-1 p-4 space-y-2">
              <h3 class="text-sm font-medium text-gray-900">
                <a href="#">
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  {{ trendingPeopleItem.name | truncate: 20 }}
                </a>
              </h3>
            </div>
          </a>
        </div>

        <div class="flex justify-end mt-2 text-blue-500">
          <a routerLink="/people">More items..</a>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
